          <div class="row">
            <h2 class="text-center space-top text-default logo-font">Events</h2>
            <div class="separator"></div>
            <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <div class="col-md-4">
              <div class="image-box text-center style-2 mb-20">
                <%= image_tag image_path("lisbon.jpg"), alt:"", class:"img-circle img-thumbnail" %>
                <div class="body padding-horizontal-clear">
                  <h4 class="logo-font title">RYxLisbon</h4>
                  <p class="small mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus.</p>
                  <p class="lead text-default">July 25th - 2016</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="image-box text-center style-2 mb-20">
                <%= image_tag image_path("morocco.jpg"), alt:"", class:"img-circle img-thumbnail" %>
                <div class="body padding-horizontal-clear">
                  <h4 class="logo-font title">RYxRabat</h4>
                  <p class="small mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus.</p>
                  <p class="lead text-default">TBA</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="image-box text-center style-2 mb-20">
                <%= image_tag image_path("sofia.jpg"), alt:"", class:"img-circle img-thumbnail" %>
                <div class="body padding-horizontal-clear">
                  <h4 class="logo-font title">RYxSofia</h4>
                  <p class="small mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus.</p>
                  <p class="lead text-default">TBA</p>
                </div>
              </div>
            </div>
          </div>
          <h3 class="text-default text-center space-top logo-font"><span class="text-muted">The</span> Place</h3>
          <div class="separator"></div>
          <p class="text-center">Beta-i is a non-profit association created in 2010, with the mission of improving entrepreneurship through 3 main acting principles: create and energise a culture and network of entrepreneurship, accelerate startups with global ambition and facilitate their access to investment, create space, services and products focused on startups.</p>
          <p class="text-center">Beta-i was considered the biggest startup & entrepreneurship promoter in Europe by the European Enterprise Promotion Awards in June 2014. Come join our movement.</p>
          <div class="row">
            <div class="col-md-6">
              <%= image_tag image_path("lisbon/betai.jpg"), class:"img-thumbnail mb-20", alt:"" %>
            </div>
            <div class="col-md-6">
              <div id="map-canvas" class="small"></div>
            </div>
          </div>
