          <div class="row">
            <h2 class="text-center space-top text-default logo-font">Events</h2>
            <div class="separator"></div>
            <p class="lead text-center">Check out our upcoming event locations</p>

            <div class="col-md-4">
              <div class="image-box text-center style-2 mb-20">
                <%= image_tag image_path("sofia.jpg"), alt:"", class:"img-circle img-thumbnail" %>
                <div class="body padding-horizontal-clear">
                  <h4 class="logo-font title">RYxSofia</h4>
                  <p class="small mb-10">Sofia, Bulgaria</p>
                  <p class="lead text-default">September 27, 2017</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="image-box text-center style-2 mb-20">
                <%= image_tag image_path("belgrade.jpg"), alt:"", class:"img-circle img-thumbnail" %>
                <div class="body padding-horizontal-clear">
                  <h4 class="logo-font title">RYxBelgrade</h4>
                  <p class="small mb-10">Belgrade, Serbia</p>
                  <p class="lead text-default">TBA</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="image-box text-center style-2 mb-20">
                <%= image_tag image_path("hanoi.jpg"), alt:"", class:"img-circle img-thumbnail" %>
                <div class="body padding-horizontal-clear">
                  <h4 class="logo-font title">RYxHanoi</h4>
                  <p class="small mb-10">Hanoi, Vietnam</p>
                  <p class="lead text-default">TBA</p>
                </div>
              </div>
            </div>

          </div>
          <h3 class="text-default text-center space-top logo-font"><span class="text-muted">The</span> Place</h3>
          <div class="separator"></div>
          <p class="text-center"><a href="http://fabrica126.com/?lang=en">FABRICA 126</a> offers ten rooms, located on three floors with a total area of ​​1500 m2. The spaciousness and housing conditions make possible the transformation of their various events. Large-scale party or useful workshop, professional photo shoot or location for commercials, art exhibition or an interesting installation</p>

          <p><a href="http://fabrica126.com/?lang=en">FABRICA 126</a> has everything you need. The facilities and unique urban atmosphere of the location makes every event memorable and determine its success. <a href="http://fabrica126.com/?lang=en">FABRICA 126</a> intertwined in a special way old and new, innovation and history. The building was built in 1927 and has long been a major mill in Sofia. In 2011 and 2012 it was repaired and reconstructed as a complex art events and cultural events such as a meeting place for young talents and professionals as a platform for artists from different fields of art. So <a href="http://fabrica126.com/?lang=en">FABRICA 126</a> becomes a creative place in Sofia.</p>
          <div class="row">
            <div class="col-md-6">
              <%= image_tag image_path("sofia/fabrika_126.jpg"), class:"img-thumbnail mb-20", alt:"" %>
            </div>
            <div class="col-md-6">
              <div id="map-canvas" class="small"></div>
            </div>
          </div>
