          <div class="row">
            <h2 class="text-center space-top text-default logo-font">Events</h2>
            <div class="separator"></div>
            <p class="lead text-center">Check out our upcoming event locations</p>

            <div class="col-md-4">
              <div class="image-box text-center style-2 mb-20">
                <%= image_tag image_path("sofia.jpg"), alt:"", class:"img-circle img-thumbnail" %>
                <div class="body padding-horizontal-clear">
                  <h4 class="logo-font title">RYxSofia</h4>
                  <p class="small mb-10">Sofia, Bulgaria</p>
                  <p class="lead text-default">TBA</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="image-box text-center style-2 mb-20">
                <%= image_tag image_path("belgrade.jpg"), alt:"", class:"img-circle img-thumbnail" %>
                <div class="body padding-horizontal-clear">
                  <h4 class="logo-font title">RYxBelgrade</h4>
                  <p class="small mb-10">Belgrade, Serbia</p>
                  <p class="lead text-default">TBA</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="image-box text-center style-2 mb-20">
                <%= image_tag image_path("hanoi.jpg"), alt:"", class:"img-circle img-thumbnail" %>
                <div class="body padding-horizontal-clear">
                  <h4 class="logo-font title">RYxHanoi</h4>
                  <p class="small mb-10">Hanoi, Vietnam</p>
                  <p class="lead text-default">TBA</p>
                </div>
              </div>
            </div>

          </div>
          <h3 class="text-default text-center space-top logo-font"><span class="text-muted">The</span> Place</h3>
          <div class="separator"></div>
          <p class="text-center"><a href="http://www.7ay.ma/">7AY</a> Coworking is a space of shared offices, new way of working called Coworking. Dedicated to entrepreneurship and creative individual initiative, <a href="http://www.7ay.ma/">7AY</a> is a place where gather the members of an active professional community, which questions, seek solutions and shares its discoveries with his co-workers.</p>

          <p class="text-center">In crossbreeding the interests, professional cultures and formations, Coworking is <a href="http://www.7ay.ma/">7AY</a> ideas and meet people of different nature while allowing everyone to focus on his own work.</p>
          <div class="row">
            <div class="col-md-6">
              <%= image_tag image_path("rabat/7ay_coworking.jpg"), class:"img-thumbnail mb-20", alt:"" %>
            </div>
            <div class="col-md-6">
              <div id="map-canvas" class="small"></div>
            </div>
          </div>
