
      <!-- banner start -->
      <!-- ================ -->
      <div class="pv-40 dark-translucent-bg" style="background-image: url(/assets/lisbon/lisbon_1024_768.png);background-position: 50% 32%;">
        <div class="container pv-40">
          <div class="row">
            <div class="col-md-8 text-center col-md-offset-2 pv-40">
              <div class="object-non-visible pv-40" data-animation-effect="fadeIn" data-effect-delay="100">
                <h1 class="page-title text-center logo-font">RYxLisbon</h1>
                <div class="separator"></div>
                <h3 class="text-center"><em>July 25th 2016, Lisbon, Portugal</em></h3>
                <!-- countdown start -->
                <div class="countdown clearfix"></div>
                <!-- countdown end -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- banner end -->

      <div id="page-start"></div>

      <!-- section start -->
      <!-- ================ -->
      <section class="light-gray-bg pv-30 clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="text-center logo-font text-muted">RYx <span class="text-default">Speaker Series</span></h2>
              <div class="separator"></div>
              <p class="text-center">The RYx Speaker Series is about bringing together international ideas and inspiring local communities to work together to make big ideas happen</p>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <%= render 'landings/home/speakers' %>

      <!-- section start -->
      <!-- ================ -->
      <section class="pv-30 clearfix">

        <%= render 'landings/home/gallery' %>

        <div class="container">

          <%= render 'landings/home/events' %>

        </div>
      </section>
      <!-- section end -->
