          <h2 class="logo-font"><%= speaker %></h2>
          <div class="separator-<%= config == 1 ? 2 : 3 %> visible-lg"></div>
          <p>Speaker Bio Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi veniam, veritatis sint consequuntur! Natus, culpa, explicabo! Non quo laboriosam nobis quia, amet excepturi optio dolor impedit. Perferendis libero unde, nulla deserunt sequi. Voluptatum, officia suscipit porro reprehenderit vitae quo rem reiciendis, a vero quae. Vero beatae voluptatum.</p>
          <div class="separator-<%= config == 1 ? 3 : 2 %> visible-lg"></div>
