          <h2 class="logo-font"><%= speaker %></h2>
          <div class="separator-<%= config == 1 ? 2 : 3 %> visible-lg"></div>
          <p><%= bio %></p>
          <div class="separator-<%= config == 1 ? 3 : 2 %> visible-lg"></div>
