          <% if (config == 1) %>
            <%= image_tag image_path("#{speaker[:image]}.jpg"), alt:"", height:"500px" %>
          <% else %>
            <%= image_tag image_path("#{speaker[:image]}.jpg"), alt:"", class:"to-right-block", height:"500px" %>
          <% end %>
          <div class="full-image-overlay text-center">
            <%= render partial: 'landings/home/speaker_bio', locals: speaker %>
          </div>
