      <!-- section start -->
      <!-- ================ -->
      <section class="full-width-section">
        <div class="full-image-container default-bg">
        <%= render partial: 'landings/home/speaker', locals: { speaker: speaker, talk: talk, config: 1 } %>
        </div>
        <div class="full-text-container default-bg">
          <%= render partial: 'landings/home/talk', locals: {speaker:speaker, talk: talk} %>
        </div>
      </section>
      <!-- section end -->
