      <!-- section start -->
      <!-- ================ -->
      <section class="full-width-section">
        <div class="full-image-container default-bg">
        <%= render partial: 'landings/home/speaker_background', locals: { speaker: 'valencia/casey_profile', config: 1 } %>
        </div>
        <div class="full-text-container default-bg">
          <%= render partial: 'landings/home/speaker', locals: { speaker: 'Casey Carr-Jones', config: 1 } %>
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <section class="full-width-section">
        <div class="full-text-container left light-gray-bg border-clear text-right">
          <%= render partial: 'landings/home/speaker', locals: { speaker: 'Patrick Loughan', config: 2 } %>
        </div>
        <div class="full-image-container light-gray-bg border-clear">
          <%= render partial: 'landings/home/speaker_background', locals: { speaker: 'valencia/patrick_profile', config: 2 } %>
        </div>
      </section>
      <!-- section end -->
