          <div class="text-center">
            <h2><%= title %></h2>
            <p><%= description %></p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= stub %>" frameborder="0" allowfullscreen></iframe>
          </div>
