          <div class="text-center">
            <h2><%= talk.title %></h2>
            <p><%= talk.description %></p>
            <!-- 4:3 aspect ratio -->
            <div class="embed-responsive embed-responsive-4by3">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= talk.video %>" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="visible-m hidden-lg text-center container">
            <%= render partial: 'landings/home/speaker_bio', locals: {speaker: speaker} %>
          </div>
