          <div class="text-center">
            <h2><%= title %></h2>
            <p><%= description %></p>
            <!-- 4:3 aspect ratio -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= stub %>" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
